<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @bus_schedule.day %>
</p>

<p>
  <strong>Bus stop:</strong>
  <%= @bus_schedule.bus_stop %>
</p>

<p>
  <strong>Time:</strong>
  <%= @bus_schedule.time %>
</p>

<p>
  <strong>Bus route:</strong>
  <%= @bus_schedule.bus_route %>
</p>

<%= link_to 'Edit', edit_bus_schedule_path(@bus_schedule) %> |
<%= link_to 'Back', bus_schedules_path %>
