<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @bus_line_direction.display_name %>
</p>

<p>
  <strong>Bus route:</strong>
  <%= @bus_line_direction.bus_route %>
</p>

<p>
  <strong>Direction name:</strong>
  <%= @bus_line_direction.direction_name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @bus_line_direction.code %>
</p>

<%= link_to 'Edit', edit_bus_line_direction_path(@bus_line_direction) %> |
<%= link_to 'Back', bus_line_directions_path %>
