<p id="notice"><%= notice %></p>

<p>
  <strong>Bus stop:</strong>
  <%= @bus_location.bus_stop %>
</p>

<p>
  <strong>Bus route:</strong>
  <%= @bus_location.bus_route %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @bus_location.vehicle %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bus_location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @bus_location.longitude %>
</p>

<p>
  <strong>Arrived:</strong>
  <%= @bus_location.arrived %>
</p>

<%= link_to 'Edit', edit_bus_location_path(@bus_location) %> |
<%= link_to 'Back', bus_locations_path %>
