<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BusTracking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/sidebar' %>
    <section class="page-main-content">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
